.past-order-table th {
  width: 25vw;
}

.past-order-table {
  display: block;
  height: 100%;
  width: 100%;
}

.past-order-table-body {
  display: block;
  height: 30vh;
  overflow: auto;
  width: 100%;
}

.past-order-table-body td {
  width: 25vw;
}