.product-image {
  width: 8vw;
}

.total-inventory-table {
  display: block;
  height: 100%;
  width: 90vw;
}

.total-inventory-table-body {
  display: block;
  height: 70vh;
  overflow: auto;
  width: 100%;
}

.total-inventory-table th {
  width: 25vw;
}

.total-inventory-table-body td {
  width: 25vw;
}

.add-pajama-button {
  margin: 10px 0px 10px 0px;
}

.inventory-fixed-header thead {
  background-color: #5f847d;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

.inventory-table-body tbody tr {
  border-bottom: 1px solid #dddddd;
}

.inventory-table-body tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.inventory-table-data tbody tr {
  text-align: center;
}

.btn.btn-secondary {
  background-color: $fourth;
}