.product-image {
  width: 8vw;
}

.total-inventory-table {
  display: block;
  height: 100%;
  width: 90vw;
}

.total-inventory-table-body {
  display: block;
  height: 80vh;
  overflow: auto;
  width: 100%;
}

.total-inventory-table th {
  width: 100vw;
}

.total-inventory-table-body td {
  width: 100vw;
}

.add-pajama-button {
  margin: 10px 0px 10px 10vw;
}