@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$favColor: #F9F4F1;
$secondary: #FAE2A2;
$tertiary: #16403E;
$fourth: #E4745E;
$fifth: #1bbcb6;
$headerFont: 'Roboto', sans-serif;
$bodyFont: 'Open Sans', sans-serif;
$sixth: #5F847D;
$seventh: #FFD4C5;
$green: #A9C3B8;
$white: #ECECEE;
$teal: #1BBCB6;
