$favColor: #ececee;
$secondary: #252f48;
$tertiary: #d16d79;
$fourth: #a9c3b8;
$fifth: #1bbcb6;
$headerFont: 'Spectral', serif;
$bodyFont: 'Karla', sans-serif;
$purple: #252F48;
$pink: #D16D79;
$green: #A9C3B8;
$white: #ECECEE;
$teal: #1BBCB6;
