@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';
@import './components/';
@import './components/index.scss';
@import './components/AboutPage/';

body {
  background-color: white;
  font-family: $headerFont;
}

.fa-shopping-cart {
  color: white;
  padding: 10px;
}

h1 {
  font-family: $headerFont;
  font-size: 48px;
}

a {
  font-family: $headerFont;
  font-weight: 500;
  font-size: 30px;
}