@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';
@import './components/';
@import './DogPage/';
@import './components/index.scss';
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Spectral:wght@700&display=swap');

body {
  background-color: $favColor;
  font-family: $bodyFont;
}

h1 {
  font-family: $headerFont;
  font-size: 48px;
}

a {
  font-family: $headerFont;
  font-size: 30px;
}