.navbar {
  background-color: $secondary;
}

.navbar-links {
  font-size: 20px;
  padding: 0;
}

.navbar-logo {
  width: 40%;
}

.cart-icon {
  font-size: 150%;
}

.nav-font {
  color: $tertiary !important;
}

.search-input {
  border: none;
}

.search-input:focus {
  border: none;
  outline: none;
}