.dog-store-page {
    margin: 3%;
}

.dog-store-body {
    display: flex;
    margin-top: 2%;
}

.product-cards-container {
    display: flex;
    flex-flow: row wrap;
    margin: 0 5%;
}

.card-container {
    width: 30%;
} 