.dog-store-page {
    margin: 3%;
}

.dog-store-body {
    display: flex;
    margin-top: 2%;
}

.checkboxes-container {
    text-align: left;
}

.single-checkbox {
    margin-right: 5%;
}

.card-container {
    width: 30%;
}