.cat-store-page {
    margin: 3%;
}

.cat-store-body {
    display: flex;
    margin-top: 2%;
}

.accordion-container {
    flex-basis: 20%;
}

.checkboxes-container {
    text-align: left;
}

.single-checkbox {
    margin-right: 5%;
}

.product-cards-container {
    display: flex;
    flex-flow: row wrap;
    margin: 0 5%;
}

.card-container {
    width: 30%;
    margin: 1%;
}